# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# DB
*.db
*.sqlite3

# Env
.env
.env.*
!.env.example

# Node
node_modules/
dist/
dist-ssr/

# IDE
.vscode/
.idea/

# Generic
*.log
tmp/
temp/
